<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
  <div class="container">
    <div class="socials-media text-center">

      <ul class="list-unstyled">
        <li><a href="https://github.com/wandergithub" target="_blank"><i class="bi bi-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/wander-gonzalez/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="https://medium.com/@wandergonzalez0" target="_blank"><i class="bi bi-medium"></i></a></li>
        <li><a href="https://www.instagram.com/wander_acg/" target="_blank"><i class="bi bi-instagram"></i></a></li>
        <li><a href="https://twitter.com/wanderklk1" target="_blank"><i class="bi bi-twitter"></i></a></li>
    </div>

    <p>&copy; Copyrights Folio. All rights reserved.</p>

    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
      Designed by Wander Gonzalez
      <br>
      <a target="_blank" href="https://bootstrapmade.com/">Template credits to BootstrapMade</a>
    </div>

  </div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/typed.js/typed.min.js"></script>

<!-- Template Main JS File -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script src="assets/js/form.js"></script>
<script src="assets/js/main.js"></script>