<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ page.project_name }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Folio - v4.10.0
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% include header.html %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Project Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#portfolio">Portfolio</a></li>
            <li>Project Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ page.image1 }}" alt="">
                </div>
                {% if page.image2 %}
                <div class="swiper-slide">
                  <img src="{{ page.image2 }}" alt="">
                </div>
                {% endif %}
                {% if page.image3 %}
                <div class="swiper-slide">
                  <img src="{{ page.image3 }}" alt="">
                </div>
                {% endif %}
                {% if page.image4 %}
                <div class="swiper-slide">
                  <img src="{{ page.image4 }}" alt="">
                </div>
                {% endif %}
                {% if page.image5 %}
                <div class="swiper-slide">
                  <img src="{{ page.image5 }}" alt="">
                </div>
                {% endif %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Built with</strong>: {{ page.stack }}</li>
                {% if page.test %}
                <li><strong>Fully tested with</strong>: {{ page.test }}</li>
                {% endif %}
                <li><strong><a href="{{ page.github_link }}" target="_blank">Github Repo</a></strong></li>
                {% if page.live_link %}
                <li><strong><a href="{{ page.live_link }}" target="_blank">Live Demo</a></strong></li>
                {% endif %}
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{ page.project_name }}</h2>
              <p>
                {{ content }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  {% include footer.html %}
</body>

</html>